/* mobile first CSS*/

/* text colors: */
/* #93280f #ffedd7*/
/* initial beige: #d9c8b4 */
/* general content */

:root {
  --red: #b02100;
  --yellow: #f7c870;
  --beige: #ffedd7;
  --pink: #bf9180;
}

body {
  margin: 0;
  background-color: white;
}

p,
li,
a,
h3 {
  font-family: "Nunito", sans-serif;
  font-weight: 300;
  color: var(--red);
  letter-spacing: 0.01em;
}

p {
  color: rgb(39, 39, 39);
  font-size: 1.2rem;
}

h3 {
  color: var(--pink);
  font-size: 1.5rem;
  font-weight: 500;
  margin-block-end: 0;
  text-align: center;
}

/* navbar */

#navbar {
  width: 100%;
  top: 0;
  position: fixed;
  display: flex;
  flex-direction: row;
  justify-content: end;
  background-color: var(--red);
}

#navbar ul {
  list-style-type: none;
  padding-inline-start: 0;
  margin-block-start: 0;
  margin-block-end: 0;
  padding: 1em 1em 1em 0;
}

#navbar li {
  display: inline-flex;
  padding-left: 0.5em;
  padding-right: 0.5em;
}

#navbar a {
  text-decoration: none;
  color: var(--beige);
}

/* welcome section */

#welcome-section {
  height: 100vh;
  /* display: grid;
  align-content: center;
  place-items: center; */
  /* margin: 1em 2em; */
  background-color: var(--yellow);
}

.h1-wrap {
  display: grid;
  place-items: center;
  align-items: center;
  justify-items: center;
  height: 90vh;
}

h1,
h2,
#scroll-down p {
  color: var(--red);
  font-family: "Sansita Swashed", cursive;
  letter-spacing: 0.04em;
}

h1 {
  width: 80vw;
}

.h1-major,
.h1-minor {
  display: block;
}

.h1-major {
  font-size: 3rem;
  margin-bottom: 1rem;
  text-shadow: 0.06em 0.06em var(--beige);
}

.h1-minor {
  font-size: 1.6rem;
  text-shadow: 0.07em 0.07em var(--beige);
}

#scroll-down-container {
  display: none;
  margin-bottom: 1em;
}

#scroll-down {
  display: grid;
  place-items: center;
}

#scroll-down img {
  max-width: 20px;
}

#scroll-down p {
  color: var(--red);
  margin-block-start: 0;
  margin-block-end: 0.5em;
  text-shadow: 0.03em 0.03em var(--beige);
}

/* @keyframes blink {
  50% {
    opacity: 0;
  }
} */

h2 {
  text-align: center;
  margin: 2em;
  font-size: 2rem;
  text-shadow: 0.04em 0.04em var(--beige);
}

#skills {
  margin: 1em 0 4em;
}

#skills img {
  width: 60px;
  aspect-ratio: 1 / 1;
}

#skills h2 {
  margin: 1em;
}

.skills-grid {
  margin-top: 5em;
}

.skills-grid,
.tools-grid {
  display: grid;
  place-items: center;
}

.skill-wrap,
.tool-wrap {
  margin: 0.5em 2em;
  /* margin: 4em 2em; */
  /* margin-bottom: 2em; */
  display: grid;
  place-items: center;
  /* margin-left: 1em;
  margin-right: 1em; */
  padding: 1em;
  max-width: 270px;
}

.html-css-logos-wrap {
  display: flex;
  flex-direction: row;
}

.html-css-logos-wrap img {
  max-width: 70px;
  margin: 0 3px;
}

/* prevent content from hiding behind fixed navbar:*/
#skills,
#projects {
  scroll-margin-top: 50px;
}

#projects {
  display: grid;
  place-items: center;
}

.project-tags {
  width: 100%;
  list-style: none;
  padding-inline-start: 0;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  margin-top: 2em;
}

.project-tags li {
  width: max-content;
  background-color: var(--yellow);
  padding: 0.5em;
  margin-right: 1em;
  font-weight: 600;
}

.skills-title-wrap,
.latest-projects-title-wrap {
  width: 100%;
  background-color: var(--yellow);
  height: 300px;
  display: grid;
  place-items: center;
}

.projects-grid {
  width: 90vw;
  margin-top: 4em;
  margin-bottom: 4em;
}

.project-tile {
  display: grid;
  place-items: center;
  margin-top: 2em;
  margin-bottom: 3em;
}

.project-tile img {
  max-width: 240px;
  aspect-ratio: 16/9;
  border: 0.5em solid var(--beige);
  border-radius: 0.3em;
}

#projects h3 {
  color: var(--red);
  font-weight: 900;
}

.project-description {
  margin: 0 1em 1em;
}

.project-links {
  display: flex;
  align-items: center;
  justify-content: space-around;
}

.project-links a {
  margin: 1em 0;
  font-size: 1.5rem;
  padding: 0.2em 1em 0.3em;
  text-decoration: none;
  font-weight: 600;
}

.live-link {
  background-color: var(--red);
  color: var(--beige);
}

.repo-link {
  background-color: var(--yellow);
}

.project-links a:hover {
  color: var(--red);
  background-color: var(--yellow);
  border: solid 0.1em var(--red);
  /* border-radius: 1em; */
}

#about {
  scroll-margin-top: 65px;
  padding: 2em 4em 0;
  display: grid;
  place-items: center;
}

#about h2 {
  margin: 1em;
}

#about a:hover {
  color: var(--pink);
}

.about-wrap {
  display: grid;
  place-items: center;
}

#about img {
  max-width: 200px;
  aspect-ratio: 4/5;
  margin-top: 2em;
  margin-bottom: 1em;
}

.about-text {
  margin: 0.5em;
}

/* CONTACT SECTION */

#contact {
  background-color: var(--yellow);
  height: 100vh;
  display: grid;
  place-items: center;
  align-content: center;
}

.contact-wrap {
  margin: 1em;
  display: flex;
  flex-direction: row;
}

.contact-item {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.contact-item img {
  margin-right: 1em;
  max-width: 50px;
}

/* FOOTER */

footer {
  background-color: var(--red);
}

footer p {
  padding: 1em 0.7em;
  margin: 0;
  text-align: center;
  font-size: 0.9rem;
  color: var(--beige);
}

@media only screen and (min-width: 320px) {
  .about-text {
    margin: 0 2em;
  }
}

@media only screen and (min-width: 540px) {
  h1 {
    width: 70vw;
  }
  .h1-major {
    font-size: 5rem;
  }

  .h1-minor {
    font-size: 3rem;
  }

  h2 {
    font-size: 2.8rem;
  }

  .skills-grid,
  .tools-grid {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    justify-content: center;
  }

  .html-css-logos-wrap img {
    max-width: 100px;
  }

  #skills img {
    width: 100px;
  }

  #about img {
    max-width: 250px;
  }

  .about-text {
    margin: 3em;
  }
}

@media only screen and (min-width: 540px) and (max-width: 1024px) {
  .project-tile {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-evenly;
  }

  .project-description {
    margin-left: 2em;
  }

  .skill-wrap {
    margin: 1em 0.2em;
  }

  #about p {
    font-size: 1.2rem;
  }
}

@media only screen and (min-width: 768px) and (max-width: 1024px) {
  .project-tile img {
    max-width: 400px;
  }
}

@media only screen and (min-width: 1024px) {
  .h1-major {
    font-size: 7rem;
    margin-bottom: 1rem;
    text-shadow: 0.06em 0.06em var(--beige);
  }

  .h1-minor {
    font-size: 3rem;
    text-shadow: 0.07em 0.07em var(--beige);
  }

  .projects-grid {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: flex-start;
    justify-content: space-around;
  }

  .project-tile {
    margin-top: 2em;
  }

  .project-tile img {
    max-width: 400px;
  }

  .project-description {
    width: 400px;
  }

  h3 {
    font-size: 2rem;
  }

  .about-wrap {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    /* margin: 2em 0 7em; */
    /* max-width: 70vw; */
  }

  .about-text {
    width: 40vw;
  }

  #about p {
    font-size: 1.3rem;
  }

  #about img {
    max-width: 300px;
    margin-right: 5em;
  }
}
